
body
{
 background-color:#008c95;
}
.Main
{  
     float:left;
	width: 100%;
    height:900px;
	border: 1px ;
}
.Main .text{
    width:300px;
    color:black;
    font-size:35px;
    font-weight:200;
    float:left;

}
.Main .form
{
    width:20%;
    color:black;
    font-size:20px;
    font-weight:100;
    border:2px solid black;
    float:none;
    display:block;

}
.Main .empty{
    width:100%;
    
    float:left;

}
.Main .header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
	border: 2px #e6e600;
}
footer {
    background-color:#21211e;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
	opacity:0.7;
	font-family:italic,oblique;
}
    .Main .top {
        
        height:20%;
        width:100%;
        
    
    }
    .Main .sied{
        width:35%;
        height:2px;
       float:left;
       
    }