body {
    
    background: url("Images/pentagon.png");
	background-position:top;
	background-repeat:repeat;
	background-attachment:scroll;
	
}
.MainClass
{
	width: 100%;
	border: 1px solid black;
}
@media screen and (min-width: 720px)
{
	.MainClass .topSpace { 
	height: 100px;
	background-color: grey ;
	opacity:0.3;
	}
	.MainClass .middleSpace { 
	height: 800px;
	float:right;
	}
	.MainClass .middleSpace .downButton
	{
	width: 50px;
    height: 75px;
    background:#42f49b;
	float:right;
	position: relative;
	border:1px solid black;
    -webkit-transition: width 2s; /* Safari */
    transition: width 1s;
	transition-timing-function: linear;
	
	
	}
	.MainClass .middleSpace .downButton:hover
	{
	width:100px;
	border:4px solid #42f49b;
	animation-name: example;
    animation-duration: 15s;
	animation-iteration-count:infinite;
	}
	
	.MainClass .middleSpace .navigationBackground
	{
		width:100%;
		background-color:#42f49b;
		height: 75px;
		margin-top:10px;
	}
	.MainClass .middleSpace .navigationBackground .navigation
	{
		
		height: 75px;
		width:19%;
		opacity:0.5;
		float :left;
		text-align:center;
		margin-left:7px;
		
		
	}
	.MainClass .middleSpace .navigationBackground .button
	{
	cursor: pointer;
	height: 75px;
	width:19%;
	opacity:0.5;
	float :left;
	text-align:center;
	margin-left:7px;
    
    
    
	
		
	}
	.MainClass .middleSpace .navigationBackground .button:hover {
    background-color: orange;
	border: none;
    color: white;
    }
	
	.MainClass .middleSpace .mainBody
	{
		width:50%;
		border :2px solid red;
	}
	.MainClass .middleSpace .mainBody .textStyle
	{
		font-size:25px;
        font-family:serif,sans-serif,italic,oblique,normal;
        font-weight:bold;
	}
}
@media screen and (max-width: 719px)
{
	.MainClass .topSpace { 
	height: 100px;
	background-color: grey ;
	opacity:0.5;
	}
	.MainClass .middleSpace { 
	height: 800px;
	
	}
	
	.MainClass .middleSpace .navigation
	{
		width:100%;
		height: 50px;
		background-color:#42f49b;
		opacity:0.5;
		border-left:1px solid blue;
		margin-top:10px;
		text-align:center;
	}
	.MainClass .middleSpace .mainBody
	{
		width:100%;
		border: 2px solid green;
        background-color:purple;
       	font-size:40px;
        font-family:serif,sans-serif,italic,oblique,normal;
        font-weight:bold;	 
	}
}
@keyframes example {
   0%   {background-color:red; right:0px; top:0px;}
    30%  {background-color:yellow; right:200px; top:0px;}
    50%  {background-color:blue; right:200px; top:200px;}
	60% 	{right:300px;top:200;}
	65%{right:300;top:100}
	 75%     {right:50;top:100}
    80%  {background-color:green; right:0px; top:100px;}
    100% {background-color:red; right:0px; top:0px;}
}
