@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>

    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>
        
        <div class="Main">
            <div class="top"></div>
            <div class="sied"></div>
            <div class="text" id="text">
                <div class="" id="login">Login</div>
                <div class="" id="account"> Create Acount</div>

            </div>
            <div class="empty">

            </div>
        </div>

            <footer class="footer">
                <p>Created by: Maxim S Bolocan</p>

            </footer>
</body>

</html>