@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>

    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>
        
        <div class="Main" id="Main">
            
            <div class="text" id="login">Login</div>
            <div class="text" id="acount"> Create Acount</div>
           
            <div class="empty"></div>
            <footer class="footer">
                <p>Created by: Maxim S Bolocan</p>
                
            </footer>
        </div>

    </body>

</html>